{{ if .Site.Params.about.enable }}
    {{"<!-- About Section -->" | safeHTML}}
    <section id="{{ i18n "about" | urlize }}" class="section about bg-gray">
        <div class="container">
            <div class="row">
                <div class="about-slider">
                  {{ $root := .Site.GetPage .Site.Params.about.sliderRootPage }}
                  {{ range $root.Pages.ByPublishDate.Reverse }}
                    <div>
                      <div class="col-md-7 col-sm-12 wow fadeInLeft" data-wow-delay="0.3s">
                          <div class="content">
                              <div class="sub-heading">
                              <h3><a class="title" href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
                              </div>
                              {{ with .Params.abstract }}
                                  <p>{{ . | markdownify }}</p>
                              {{ end }}
                          </div>
                      </div>
                      {{ $relLink := .RelPermalink }}
                      {{ with .Params.image }}
                      <div class="col-md-5 col-sm-12 wow fadeInLeft" data-wow-delay="0.3s">
                              <img src="{{ printf "%s/%s" $relLink . }}" alt="{{ i18n "sliderImage" }}">
                      </div>
                      {{ end }}
                    </div>
                  {{ end }}
                </div>
            </div>
            {{ with .Site.Params.about.button }}
                <div class="row">
                    <div class="single-button-container wow fadeInDown" data-wow-delay="0.7s" data-wow-duration=".7s">
                        <a class="btn btn-about" href="{{ .url }}" role="button">
                            {{ .text }}
                        </a>
                    </div>
                </div>
            {{ end }}
        </div>
    </section>
{{ end }}
