{{ if .Site.Params.hero.enable }}
    {{"<!-- Hero Area Section -->" | safeHTML}}
    <section id="{{ i18n `home` | urlize }}" class="hero-area" style='background-image: url("{{ with .Site.Params.hero.bg }} {{ . }}{{ end }}");'>
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-6">
                    <div class="block">
                        {{ with .Site.Params.hero.title }}
                        <h1 class="wow fadeInDown" data-wow-delay="0.3s" data-wow-duration=".2s">
                            {{ . }}
                        </h1>
                        {{ end }}
                        {{ with .Site.Params.hero.subtitle }}
                        <p class="wow fadeInDown" data-wow-delay="0.5s" data-wow-duration=".5s">
                            {{ . }}
                        </p>
                        {{ end }}
                        <div class="wow fadeInDown" data-wow-delay="0.7s" data-wow-duration=".7s">
                          {{ if .Site.Params.hero.btnImage }}
                            <div class="btn-image-container">
                              <a class="btn-image-link" href="{{ .Site.Params.hero.btnLink }}">
                                <img class="btn-image" src="{{ .Site.Params.hero.btnImage }}">
                              </a>
                            <div>
                          {{ else }}
                            <a class="btn btn-home" href="{{ .Site.Params.hero.btnLink }}" role="button">
                                  {{ .Site.Params.hero.btnText }}
                            </a>
                          {{ end }}
                        </div>
                    </div>
                </div>
                {{ if not .Site.Params.hero.disableCountdown }}
                <div class="col-lg-5 col-md-6 wow zoomIn">
                    <div class="block">
                        <div class="counter text-center">
                            <ul id="countdown_dashboard" data-year="{{ with .Site.Params.hero.countdownYear }} {{ . }}{{ end }}" data-month="{{ with .Site.Params.hero.countdownMonth }} {{ . }}{{ end }}" data-day="{{ with .Site.Params.hero.countdownDay }} {{ . }}{{ end }}">
                                <li>
                                    <div class="dash days_dash">
                                        <div class="digit">0</div>
                                        <div class="digit">0</div>
                                        <div class="digit">0</div>
                                        <span class="dash_title">Dias</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="dash hours_dash">
                                        <div class="digit">0</div>
                                        <div class="digit">0</div>
                                        <span class="dash_title">Horas</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="dash minutes_dash">
                                        <div class="digit">0</div>
                                        <div class="digit">0</div>
                                        <span class="dash_title">Minutos</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="dash seconds_dash">
                                        <div class="digit">0</div>
                                        <div class="digit">0</div>
                                        <span class="dash_title">Segundos</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                {{ end }}
            </div>
            <!-- .row close -->
        </div>
        <!-- .container close -->
    </section>
{{ end }}
