{{ if .Site.Params.instagram.enable }}
    {{"<!-- Call To Action Section -->" | safeHTML}}
    <section class="insta">
        <div class="container">
            <div class="row">
                <div class="col-md-12 wow text-center">
                    <div class="items">
                      {{ range $item := .Site.Params.instagram.instagramItem }}
                      <div class="item" style="background-image: url('{{ $item.bg }}');">
                        <a href="{{ $item.link }}">
                          <div class="item-heading">
                              <i class="tf-ion-social-instagram-outline" aria-hidden="true"></i>
                              <h2 class="title">@{{ $item.title }}</h2>
                          </div>
                        </a>
                        <div class="iframe">
                          <blockquote class='instagram-media' data-instgrm-version='14'>
                            <!-- replace this href with the link to the post -->
                            <a href='https://www.instagram.com/p/{{ $item.iframe }}/' ></a>
                          </blockquote>
                        </div>
                      </div>
                      {{ end }}
                      <script src="//www.instagram.com/embed.js"></script>
                    </div>
                </div>
            </div>
        </div>
    </section>
{{ end }}
