<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{{ .Site.BaseURL }}">
    {{ with .Site.Params.logo }}
    <img src="{{ .path | relURL }}" alt="{{ .title }}">
    {{ end }}
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
    {{ if .Site.Params.about.enable }}
        <li class="nav-item">
            <a class="nav-link" href="{{ .Site.BaseURL }}#{{ i18n "about" | urlize }}">
                {{ with .Site.Params.navigation.about }} {{ . }} {{ end }}
            </a>
        </li>
    {{ end }}
    {{ if .Site.Params.service.enable }}
        <li class="nav-item">
            <a class="nav-link" href="{{ .Site.BaseURL }}#{{ i18n "service" | urlize }}">
                {{ with .Site.Params.navigation.service }} {{ . }} {{ end }}
            </a>
        </li>
    {{ end }}
    {{ if .Site.Params.contact.enable }}
        <li class="nav-item">
            <a class="nav-link" href="{{ .Site.BaseURL }}#{{ i18n "contact" | urlize }}">
                {{ with .Site.Params.navigation.contact }} {{ . }} {{ end }}
            </a>
        </li>
    {{ end }}
    {{ if .Site.Params.whatsapp.enable }}
        <li class="nav-item">
            <a class="nav-link" href="{{ .Site.BaseURL }}#whatsapp">
                {{ with .Site.Params.navigation.whatsapp }} {{ . }} {{ end }}
            </a>
        </li>
    {{ end }}
    </ul>
  </div>
</nav>
