{{ if .Site.Params.social.enable }}
{{"<!-- Social Section -->" | safeHTML}}
<section class="social" style='background-image: url("{{ with .Site.Params.social.bg }}{{.}}{{ end }}")' >
    <div class="container">
        <div class="row">
            <div class="col-md-12 wow text-center">
                <div class="block">
                    {{ with .Site.Params.social.title }}
                        <h2>{{ . }}</h2>
                    {{ end }}
                    <div class="cards">
                        {{ with .Site.Params.social.facebook }}
                        <div class="card-item facebook">
                            <div class="face face1">
                                <div class="content">
                                    <div class="icon">
                                        <i class="tf-ion-social-facebook" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="face face2">
                                <div class="content">
                                    <h3>
                                      <a href="https://www.facebook.com/{{ .profile }}" target="_blank">@{{ .profile }}</a>
                                    </h3>
                                    <p>{{ .description }}</p>
                                </div>
                            </div>
                        </div>
                        {{ end }}
                        {{ with .Site.Params.social.whatsapp }}
                        <div class="card-item whatsapp">
                            <div class="face face1">
                                <div class="content">
                                    <div class="icon">
                                        <i class="tf-ion-social-whatsapp" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="face face2">
                                <div class="content">
                                    <h3>
                                      <a href="https://wa.me/{{ .phone }}?text=Eu%20gostaria%20de%20saber%20mais%20sobre%20passeios%20no%20Labadee" target="_blank">{{ .profile }}</a>
                                    </h3>
                                    <p>{{ .description }}</p>
                                </div>
                            </div>
                        </div>
                        {{ end }}
                        {{ with .Site.Params.social.instagram }}
                        <div class="card-item instagram">
                            <div class="face face1">
                                <div class="content">
                                    <div class="icon">
                                        <i class="tf-ion-social-instagram-outline" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="face face2">
                                <div class="content">
                                    <h3>
                                      <a href="https://www.instagram.com/{{ .profile }}" target="_blank">{{ .profile }}</a>
                                    </h3>
                                    <p>{{ .description }}</p>
                                </div>
                            </div>
                        </div>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}
